@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#generateNew {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

input {
	font-family: 'Open Sans', sans-serif;
}

select {
	font-family: 'Open Sans', sans-serif;
}

label {
	font-family: 'Open Sans', sans-serif;
}